.sign-in-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.sign-in-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}